.navbar{
    height: auto;
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #0d1117;
    background: none;
    padding: 25px 30px;
    box-shadow: 0 4px 8px rgba(249, 200, 200, 0.2);
    backdrop-filter: blur(10px);
    top: 0;
    z-index: 1000;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding-right: 50px;
  }
  .nav-links li a {
    color: #070707;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
  }